
<div class="main">
	<h1 id="home">SQUAD<sup>UP</sup></h1>

	<ul id="picroll">

		<img class="homepics" src="http://40.media.tumblr.com/1d9451954e3f47f4b2c52609baa3051c/tumblr_mnoqw1jXOQ1r4k9jco1_r1_1280.jpg">

		<img class="homepics" src="http://thingstodo.viator.com/san-francisco/files/B_San_Francisco_GG_Bridge-iStock_000015143989Small.jpg">

		<img class="homepics" src="http://cdn.partyearth.com/photos/70a34c6340f83a0a0df8a00c625f1346/daves_s345x230.jpg?1375154232">

	</ul>

	<div id="info">
		Squad<sup>up</sup> just made making plans with your friends (#squad), easier!
	<div>
</div>