  
<div class="currentideas">

  <h2 class="jumbotron" id="current">Current Squad Suggestions</h2>

  <div class="ideas">
  <% @ideas.each do |idea| %>
      <div class="row">
        <ul>
          <li>
          <br>
            <p id="listidea">
              <a href="/ideas/<%= idea.id %>" style="color: #CC0000">
                <%= idea.activity %>
              </a>
            </p>
          </li>
            <a href="/ideas/<%= idea.id %>/edit">
            EDIT</a><Br>
            <a href="ideas/<%= idea.id %>">DELETE</a>
          </ul>
        </div>
    <% end %>
  </div>

</div>