
<body id="newactivity">
	<h2 id="newtitle">what do you want to do?</h2>

	<div class="sfpic">
	<form class="newnew" action="/ideas" method="post">
	  <label for="idea[date]">Date:</label>
	  <br>
	  <input name="idea[date]">
		<br>
		<br>
	  <label for="idea[activity]">Activity:</label>
	  <br>
	  <input name="idea[activity]">
	  	<br>
	  	<br>
	  <label for="idea[place]">Place:</label>
	  <br>
	  <input name="idea[place]">
	  	<br>
	  	<br>
	  <label for="idea[cost]">Cost:</label>
	  <br>
	  <input name="idea[cost]">
		<br>
		<br>
	  <input type="submit" value="Create">
	</form>
	</div>
</body>
